@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.piano {
	background-color: #121212;
	margin: 10px auto 0;
	padding: 3px;
	border-radius: 8px;
}

.controls {
  padding: 8px 4px 2px;
	color: rgba(255, 255, 255, 0.8);
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.controls h5 {
  margin: 0;
}

.panel {
	width: 100%;
	padding: 4px;
}

.items {
	padding: 2px 4px;
	border-radius: 4px;
	background-color: #333;
	color: rgba(255, 255, 255, 0.5);
}

.keyboard {
	width: 100%;
	margin: 0;
}

.keys {
  padding: 2px;
	height: 140px;
	display: flex;
	border-radius: 8px;
	user-select: none;
}

.group_key {
	width: 100%;
	padding: 2px;
	position: relative;
}

.key {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-weight: 500;
}

.key span {
	font-size: 0.8em;
}

.disabled_keys span {
	opacity: 0;
}

.white {
	height: 100%;
	flex-grow: 1;
	background-color: white;
	border-radius: 4px;
	border-bottom: 5px solid #ddd;
	color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.black {
	background: linear-gradient(black, #333);
	width: 70%;
	height: 55%;
	border-radius: 0 0 4px 4px;
	border-bottom: 5px solid #222;
	position: absolute;
	z-index: 2;
	left: 65%;
	color: rgba(255, 255, 255, 0.3);
}

.black_pressed {
	background: linear-gradient(#222, black);
	border-bottom: none;
	height: 54.5%;
}

.settings {
  margin: 4px;
  padding: 6px;
	background-color: white;
	border-radius: 4px;
}

.settings p {
	font-size: 0.8em;
}


.my_tooltip {
  position: relative;
  display: inline-block;
}

.my_tooltip .my_tooltip_text {
  visibility: hidden;
  /* width: 120px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.my_tooltip .my_tooltip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.my_tooltip:hover .my_tooltip_text {
  visibility: visible;
  opacity: 1;
}