@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.piano {
	background-color: #121212;
	margin: 10px auto 0;
	padding: 3px;
	border-radius: 8px;
}

.controls {
  padding: 2px 4px;
	color: rgba(255, 255, 255, 0.8);
}

.keys {
	height: 200px;
	display: flex;
	background-color: #181818;
	border-radius: 8px;
	user-select: none;
}

.group_key {
	width: 100%;
	padding: 2px;
	position: relative;
}

.key {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-weight: 500;
}

.disabled_keys span {
	opacity: 0;
}

.white {
	height: 100%;
	flex-grow: 1;
	background-color: white;
	border-radius: 4px;
	border-bottom: 5px solid #ddd;
	color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.black {
	background: linear-gradient(black, #333);
	width: 60%;
	height: 60%;
	border-radius: 0 0 4px 4px;
	border-bottom: 5px solid #222;
	position: absolute;
	z-index: 2;
	left: 70%;
	color: rgba(255, 255, 255, 0.3);
}

.black_pressed {
	background: linear-gradient(#222, black);
	border-bottom: none;
	height: 59%;
}